footer {
  font-size: 14px;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.footer-text {
  margin: 0px;
}

.footer-privacy {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.footer-privacy:hover {
  cursor: pointer;
  color: #712cf9;
}

.footer-dark {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
}

.footer-light {
  background-color: white;
  color: black;
}
